<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="studentId"    column="student_id"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="major"    column="major"    />
        <result property="classes"    column="classes"    />
        <result property="password"    column="password"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectUsersVo">
        select id, name, student_id, phone_number, major, classes, password, created_at from users
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="classes != null  and classes != ''"> and classes = #{classes}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectUsersById" parameterType="Long" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="major != null">major,</if>
            <if test="classes != null">classes,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="major != null">#{major},</if>
            <if test="classes != null">#{classes},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update users
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="major != null">major = #{major},</if>
            <if test="classes != null">classes = #{classes},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUsersById" parameterType="Long">
        delete from users where id = #{id}
    </delete>

    <delete id="deleteUsersByIds" parameterType="String">
        delete from users where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>